 .card {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background-color: hsl(212, 45%, 89%);
 }

 .card .qr-code {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 500px;
     width: 320px;
     background-color: hsl(0, 0%, 100%);
     border-radius: 15px;
     
 }

 .qr-code .imagem-qr-code {
     height: 285px;
     width: 285px;
     border-radius: 10px;
     margin: 15px;
 }

 .card .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 130px;
    max-width: 270px;
    gap: 15px;
    color: hsl(218, 44%, 22%);
 }

 .card .text .title {
    font-size: 2.2rem;
    font-weight: 700;
 }

 .card .text .paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
 }